body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #34495e;
}

#app {
  text-align: center;
  padding-top: 60px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.app__title {
  margin-bottom: 60px;
}

.app__colors {
  display: flex;
  justify-content: space-between;
}

.colors__item {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  
}

.colors__item:hover{
  transform: scale(1.05)
}

.app__scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;

}

.scores__item {
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.correct {
  width: 30px;
  height: 30px; 
  border-radius: 3px;
  color: white;
  background-color: #51bb8d;
}

.wrong {
  width: 30px;
  height: 30px; 
  border-radius: 3px;
  color: white;
  background-color: #ed4c40
}

.regular {
  color: black; 
}

.btn {
  padding: 10px 15px;
  background-color: #4fc08d;
  border: none ;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}
